<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context 
                           http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- bean definitions here -->




	<!-- this is our beans -->
	<bean class="com.springcore1.student" name="student1"
		p:studentId="245" p:studentName="Ashu" p:studentAddress="Abad" />

	<bean class="com.springcore1.student" name="student2"
		p:studentId="145" p:studentName="Ashish_Gaike"
		p:studentAddress="Aurangabad" />
		
		
		<!-- collection freamwork -->


</beans>